*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --first-color: #000000;
    --second-color: white;
    --third-color: #6c757d;
    --fourth-color: #efefef;
    --first-text-color: black;
    --second-text-color: white;
    
}

/* --------------------------------- call to action --------------------------------- */

.call-to-action{
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    padding: 1em;
}

.call-to-action p {
    color: var(--second-color);
    margin: 0em .5em;
}

.call-to-action a{ 
    color: var(--second-color);
    font-weight: 700;
}

/* --------------------------------- header --------------------------------- */

header{
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
    border-bottom: 1px solid var(--fourth-color);
    margin-bottom: 5rem;
}

h1 a{
    font-weight: 700;
    text-decoration: none;
    color: var(--first-color);
}

.links-container{
    display: flex;
    align-items: center;
}

.links-container a{
    margin: 0em 3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--first-color);
}
.divider{
    border-left: 1px solid var(--fourth-color);
    height: 3em;
}

.links-container button{
    color: var(--second-color);
    background-color: var(--first-color);
    border: none;
    border-radius: 1em;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 1em;
    margin-left: 3em;
    cursor: pointer;
}

/* --------------------------------- gallery --------------------------------- */

.gallery-tittle {
    display: flex;
    justify-content: center;
}

.gallery-tittle h2{
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 3em;
    margin-bottom: 1em;
}

.gallery-section{
    position: relative;
}

.gallery{
   width: 87em;
   margin: 1em auto;
   columns: 4;
   column-gap: 1em;

  position: relative;
  overflow: hidden;
}



.gallery .gallery-box{
    width: 100%;
    margin-bottom: 1em;
    break-inside: avoid;
}

.gallery .gallery-box img{
    max-width: 100%;
    border-radius: 15px;
}

.img-information{
    display: flex;
    align-items: center;
}

.profile-img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right: .5em;
}

.box-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-description h3{
    font-size: 0.8em;
    font-weight: 500;
}

/* --------------------------------- meadia querys --------------------------------- */

@media (max-width: 1200px){
    .gallery{
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media (max-width: 768px){
    .gallery{
        columns: 2;
    }
}

@media (max-width: 480px){
    .gallery{
        columns: 2;
    }
}