*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --first-color: #000000;
    --second-color: white;
    --third-color: #6c757d;
    --fourth-color: #efefef;
    --first-text-color: black;
    --second-text-color: white;
    
}

.bolder{
    font-weight: 700;
}

.italic{
    font-style: italic;
}

/* --------------------------------- call to action --------------------------------- */

.call-to-action{
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    padding: 1em;
}

.call-to-action p {
    color: var(--second-color);
    margin: 0em .5em;
}

.call-to-action a{ 
    color: var(--second-color);
    font-weight: 700;
}

/* --------------------------------- header --------------------------------- */

header{
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
    border-bottom: 1px solid var(--fourth-color);
}

h1 a{
    font-weight: 700;
    text-decoration: none;
    color: var(--first-color);

    transition: font-size 0.2s;
}

h1 a:hover{
    font-size: 1.05em;
}

.links-container{
    display: flex;
    align-items: center;
}

.links-container a{
    margin: 0em 3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--first-color);

    transition: font-size 0.2s;
}

.links-container a:hover{
    font-size: 1.05em;
}

.divider{
    border-left: 1px solid var(--fourth-color);
    height: 3em;
}

.links-container button{
    color: var(--second-color);
    background-color: var(--first-color);
    border: none;
    border-radius: 1em;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 1em;
    margin-left: 3em;
    cursor: pointer;

    transition: font-size 0.2s;
}

.links-container button:hover{
    font-size: 1.05em;
}

/* --------------------------------- main --------------------------------- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem 0rem;
    height: 45vh;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0rem;
}

.secondary-tittle{
    font-weight: 400;
    font-size: 1rem;
}

.main-tittle{
    font-size: 5rem;
}

.italic-tittle{
    font-weight: 400;
    color: var(--third-color);
}

.download-link{ 
    color: var(--second-color);
    background-color: var(--first-color);
    border: none;
    border-radius: 1em;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 1em;
    margin-left: 3em;
    cursor: pointer;
    margin: 0rem 1rem;
    text-decoration: none;

    transition: font-size 0.2s;
}

.download-link:hover{
    font-size: 1.05em;
}

.gallery-link{ 
    margin: 0rem 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--first-color);

    transition: font-size 0.2s;
}

.gallery-link:hover{
    font-size: 1.05em;
}

/* --------------------------------- info inktober --------------------------------- */

.info-inktober{
    display: flex;
    justify-content: center;
}

.info-text {
    max-width: 55ch;
    margin-right: 2em;
}

.info-text h4{
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: .5em;
}

.info-text p{ 
    font-size: 1.3rem;
    margin-bottom: 1em;
}
.astronauta1{ 
    max-width: 35rem;
    margin-left: 2em;
}

/* --------------------------------- gallery --------------------------------- */

.gallery-tittle {
    display: flex;
    justify-content: center;
}

.gallery-tittle h2{
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 3em;
    margin-bottom: 1em;
}

.gallery-section{
    position: relative;
}

.gallery{
   width: 87em;
   margin: 1em auto;
   columns: 4;
   column-gap: 1em;

  position: relative;
  overflow: hidden;
}

.gallery::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* ajusta la altura del gradiente según sea necesario */
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 25%,rgba(255, 255, 255, 0.61) 50%, rgba(255, 255, 255, 0)100%);
  pointer-events: none;
}

.gallery .gallery-box{
    width: 100%;
    margin-bottom: 1em;
    break-inside: avoid;
}

.gallery .gallery-box img{
    max-width: 100%;
    border-radius: 15px;
}

.img-information{
    display: flex;
    align-items: center;
}

.profile-img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right: .5em;
}

.box-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-description h3{
    font-size: 0.8em;
    font-weight: 500;
}

.gallery-section a{
    text-decoration: none;
    display: block; /* Añadido para hacer que el botón sea visible */
    margin: 1em auto; /* Añadido para centrar el botón */

    position: absolute;
    bottom: 3%; /* 100% - 90% */
    left: 50%; /* Otra opción: ajusta según sea necesario */
    transform: translateX(-50%);

    color: var(--second-color);
    background-color: var(--first-color);
    border: none;
    border-radius: 1em;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
}

/* --------------------------------- info-desafio --------------------------------- */
.desafio-h2{
    text-align: center;
    font-size: 3em;
    margin: 1.5em 0em;
}

.desafio-2023{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.info-desafio{
    max-width:65ch;
    margin-left: 2em;
}

.info-desafio h3{
    font-size: 2em;
    margin-bottom: .5em;
}

.info-desafio ul{
    margin-left: 1em;
    margin-bottom: 1em;
}

.info-desafio p{
    margin-bottom: 1em;
}

.info-desafio h4{
    font-size: 1em;
    margin-bottom: 1em;
}

.desafio-2023 img{
    max-width: 35rem;
    margin-right: 1em;
    transform: scaleX(-1);
}

/* --------------------------------- prompts 2023 --------------------------------- */

.prompts-2023{
    display: flex;
    justify-content: center;
    padding: 3em;
}


/*--------------------------------- footer --------------------------------- */

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--first-color);
    padding: 7em;
}

footer p{
    font-size: 2em;
    text-align: center;
    color: var(--second-text-color);
    font-weight: 700;
    margin-bottom: .5em;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-media ul{
    padding-right: 1em;
}

@media (max-width: 1200px){
    .gallery{
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media (max-width: 768px){
    .gallery{
        columns: 2;
    }
}

@media (max-width: 480px){
    .gallery{
        columns: 2;
    }
}